/*---------Imports---------*/

@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;600;800&display=swap');   /*Fuente*/

/*---------Resets---------*/

*{
    margin: 0;
    padding: 0;
}

/*---------Etiquetas---------*/

body{
    font-family: 'Rubik', sans-serif;
    background-color: coral;
    color: teal;
}
footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
footer p{
    text-align: center;
}

/*---------Ids---------*/

#top-box{
    margin: 1em 5vw;
    color: white;
    background-color: rgba(0, 128, 128, 0.507);
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    border-radius: 20px;
}
#top-box input{
    margin: 1em 0;
    border-radius: 20px;
    height: 3vh;
    padding: 10px 5px;
    font-size: 20px;
    width: 30vw;
    border: none;
    color: coral;
}
#top-box button{
    margin: 1rem 0;
    padding: 10px 20px;
    border-radius: 20px;
    font-size: 20px;
    color: white;
    background-color: coral;
    border: 2px solid teal;
}
#top-box button:hover{
    color: white;
    background-color: teal;
    border: 2px solid coral;
    transition: all 0.1s ease-in-out;
}
#btn-iniciar{
    margin-top: 8vh;
    animation-name: gameMove;
    animation: 1s infinite alternate moveGame;
    padding: 10px 20px;
    font-size: 20px;
    text-align: center;
    background-color: rgba(0, 128, 128, 0.507);
    border: 2px solid teal;
    border-radius: 20px;
    color: white;
}
#btn-iniciar:hover{
    background-color: white;
    color: coral;
    transition: all 0.1s ease-in-out;
}

/*---------Animations---------*/

@keyframes moveGame {
    0% {
        transform: translate(-10, 0);
        transform: rotate(-10deg)
    }
    100% {
        transform: translate(10px, 0);
        transform: rotate(10deg)
    }
}

/*---------Clases---------*/

.main-title{
    text-align: center;
    margin: 1em auto auto auto;
}
.icon{
    font-size: 2.5em;
    margin: 10px 5px;
    color: teal;
}
.middle-box{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

/*---------Media querys---------*/

@media only screen and (max-width: 595px){
    #top-box{
        align-items: center;
    }
    #top-box input{
        width: 60vw;
    }
}